@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/*  font-family: "Work Sans", serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body:not(i) {
  font-family: "Work Sans", serif;
}
:root {
  --darkOne: rgba(19, 19, 19);
  --darkTwo: #424242;
  --darkThree: #727272;
  --darkFour: #a1a1a1;
  --darkFive: #d0d0d0;
  --deepWhite: #fff;
  --orange: rgba(255, 144, 14);
  --lightOrange: rgba(255, 144, 14, 10%);
}
/* shared styles start*/
a {
  font-size: 18px;
}
p {
  font-size: 16px;
  color: var(--darkThree);
}
.primary-btn {
  font-size: 20px;
  font-weight: 600;
  background-color: var(--orange);
  color: var(--deepWhite);
  border-radius: 8px;
  padding: 20px 30px;
  border: none;
}
h3 {
  font-size: 2.8rem;
}
h1 {
  font-size: 4rem;
}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
}
header,
footer,
main {
  max-width: 1440px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}
.align-item {
  align-items: center;
}

/* shared styles end*/

.header-container {
  background-color: var(--lightOrange);
  width: 100%;
}
/* header {
} */
header .navbar {
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}
.navbar .nav-links {
  gap: 60px;
  list-style: none;
}
.nav-links .nav-link {
  text-decoration: none;
  color: var(--darkTwo);
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.4s;
}
.nav-links .nav-link:hover {
  color: var(--darkOne);
}
.banner {
  margin-top: 140px;
}
.banner-content {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  width: 60%;
  margin: 0 auto;
}
.banner-content .banner-description {
  margin: 32px 0;
}
.banner-profile-pic img {
  margin: 50px 0; /*problem one */
  width: 100%;
}
@media screen and (max-width: 576px) {
  header {
    padding: 6px;
  }
  .brand {
    font-size: 1.6rem;
  }
  .nav-links {
    display: none;
  }
  .banner-content {
    width: 100%;
  }
  .banner-title {
    font-size: 2.4rem;
  }
}
