@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/*  font-family: "Work Sans", serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body:not(i) {
  font-family: "Work Sans", serif;
  background-color: aliceblue;
}
:root {
  --darkOne: rgba(19, 19, 19);
  --darkTwo: #424242;
  --darkThree: #727272;
  --darkFour: #a1a1a1;
  --darkFive: #d0d0d0;
  --deepWhite: #fff;
  --orange: rgba(255, 144, 14);
  --lightOrange: rgba(255, 144, 14, 10%);
}
/* shared styles start*/
.hide {
  display: none;
}
a {
  font-size: 18px;
}
p {
  font-size: 16px;
  color: var(--darkThree);
}
.primary-btn {
  font-size: 20px;
  font-weight: 600;
  background-color: var(--orange);
  color: var(--deepWhite);
  border-radius: 8px;
  padding: 20px 30px;
  border: none;
}
h3 {
  font-size: 2.8rem;
}
h1 {
  font-size: 4rem;
}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
}
header,
footer,
main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}

.display-flex {
  display: flex;
}
.align-item {
  align-items: center;
}

main section {
  margin-top: 130px;
  padding: 5px;
}
/* shared styles end*/

.header-container {
  background-color: var(--lightOrange);
  width: 100%;
}
/* header {
} */
header .navbar {
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}
.navbar .nav-links {
  gap: 60px;
  list-style: none;
}
.nav-links .nav-link {
  text-decoration: none;
  color: var(--darkTwo);
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.4s;
}
.nav-links .nav-link:hover {
  color: var(--darkOne);
}
.banner {
  margin-top: 140px;
}
.banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
}
.banner-content .banner-description {
  margin: 32px 0;
}
.banner-profile-pic img {
  margin: 50px 0; /*problem one */
  width: 100%;
}
/* team section style */
main {
  padding: 100px 0;
}
.team-section {
  max-width: 1300px;
  margin: 0 auto;
  gap: 73px;
}
.team-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.team-pictures img {
  max-width: 240px;
}
.team-content p {
  margin: 24px 0 32px 0;
}
/* feature section style start */
.feature-section {
  gap: 54px;
  align-items: center;
  justify-content: space-between;
}
.feature-content {
  max-width: 586px;
}
.feature-title {
  border-left: 4px solid var(--orange);
  padding: 0 22px;
  max-width: 468px;
  line-height: -1.9rem;
}
.feature-description {
  padding: 24px 0 32px 0;
}

.feature {
  margin-bottom: 20px;
  padding: 22px;
  background-color: var(--deepWhite);
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 6%);
}
.feature h4 {
  text-transform: capitalize;
}
.feature p {
  margin-top: 10px;
}
.feature-profile {
  max-width: 800px;
  text-align: right;
  & > img {
    max-width: 708px;
  }
}

.facts-content {
  max-width: 542px;
}
.facts-content p {
  padding: 24px 0;
}

.facts-cards {
  max-width: 1350px;
  display: grid;
  grid-template-columns: repeat(4, 240px);
  margin-top: 80px;
  justify-content: space-around;
  gap: 20px;
}
.facts-cards .card {
  min-width: 240px;
  padding: 46px 37px 60px;
  border: 1px solid var(--orange);
  text-align: center;
  border-radius: 8px;
}
.facts-cards .card h4 {
  padding: 10px 0;
}
.sponsors-content {
  text-align: center;
}
.sponsors-content p {
  padding: 24px 0 54px;
  max-width: 542px;
  margin: 0 auto;
}
.sponsors {
  display: flex;
  justify-content: space-between;
}

footer section {
  text-align: center;
  background-color: var(--lightOrange);
  padding: 40px 0;
  margin-bottom: 80px;
  border-radius: 8px;
}
@media screen and (max-width: 586px) {
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 0.8rem;
  }
  .btn-container {
    text-align: center;
  }
  .primary-btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 28px;
  }
  header {
    padding: 6px;
  }

  .nav-links {
    display: none;
  }
  .banner-description,
  .banner-content {
    width: 100%;
  }
  .banner-title {
    font-size: 2.4rem;
    width: 100%;
  }
  .banner {
    margin-top: 100px;
  }
  main {
    padding-top: 60px;
  }
  .team-section {
    flex-direction: column;
    padding: 5px;
    gap: 50px;
    text-align: center;
  }
  .team-pictures {
    gap: 10px;
  }
  .team-pictures img {
    width: 150px;
  }
  .facts-cards {
    grid-template-columns: 240px;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  h3 {
    font-size: 1.9rem;
  }
  p {
    font-size: 0.8rem;
  }
  .banner-description,
  .banner-content {
    width: 100%;
  }
  .banner-title {
    font-size: 3rem;
    width: 100%;
  }
  .banner {
    margin-top: 100px;
  }
  main {
    padding-top: 60px;
  }
  .team-section {
    flex-direction: column;
    padding: 5px;
    gap: 50px;
    text-align: center;
  }
  .team-pictures {
    gap: 10px;
  }
  .team-pictures img {
    width: 200px;
  }
  .btn-container {
    text-align: center;
  }
  .primary-btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 28px;
  }
  .facts-cards {
    grid-template-columns: repeat(2, 240px);
    justify-content: center;
  }
}
